html {
    height: 100vh;
    background-color: #D9D9D9;
}

body {
    margin: 0px;
}

.container {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.title {
    width: 200px;
    height: 60px;
    padding-left: 10px;
}

/* .logo-container {

} */

.navigation-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-item  {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.selected-nav-item  {
    border-bottom: 4px solid #789D57;
}

.navigation-container svg {
    width: 32px;
    height: 32px;
}

/* .home {

} */

.profile-container {
    gap: 10px;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.profile-circle-background {
    background-color: #D9D9D9;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-background {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 50px;
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}