.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    flex-direction: column;
    margin:10px;
    width: 50%;
}

.group span {
    margin: 5px;
    font-weight: bold;
}