@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.App {
    .HeaderBar {
        margin-bottom: 10px;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        margin-bottom: 10px;
    }

    .Card {
        transition: all .2s ease-in-out;
    }

    .Card:hover {
        // transition: all .2s ease-in;
        transform: scale(1.05);
        z-index: 1;
    }
}
