@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.Profile {
    .BannerContainer {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;

        .BannerInput {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            
            input {
                display: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
        
        img {
            width: 100%;
        }

        .Nametag {
            box-sizing: border-box;
            position: absolute;
            left: 50px;
            bottom: 30px;
            width: 400px;
            height: 110px;
            border-radius: 10px;
            background-color: white;
            filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.25));

            display:flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;

            .ProfilePicture {
                position: relative;
                overflow: hidden;
                min-width: 80px;
                min-height: 80px;
                width: 80px;
                height: 80px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
        
                background-color: $green-1;
                border-radius: 50%;
        
                border: 5px solid $green-2;
        
                .Default {
                    color: white;
                }

                img {
                    height: 100%;
                }

                .ImageInput {
                    width: 100px;
                    height: 100px;
                    position: absolute;

                    input {
                        display: none;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .NameBox {
                padding-left: 15px;
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                width: 100%;

                .Chef {
                    color: $green-2;
                    line-height: 10px;
                    font-weight: 600;
                    font-size: 24px;
                }

                .Username {
                    font-weight: 800;
                    font-size: 32px;
                }
            }
        }
    }

    .DescriptionContainer {
        position: relative;
        box-sizing: border-box;
        padding: 50px;
        width: 100%;
        height: 250px;

        .DescriptionArea {
            outline:none;
            border: 1px solid transparent;
            border-radius: 3px;
            width: 100%;
            height:100%;
            resize: none;
            font-size: 18px;

            transition: 0.5s border;
            &:hover {
                border: 1px solid black;
            }

            &:read-only {
                &:hover {
                    cursor: auto;
                    border: 1px solid transparent;
                }
            }
        }

        .SaveDescriptionChange {
            @include animate;
            background-color: $green-1;
            padding: 5px 15px 5px 15px;
            color: white;
            font-size: 18px;
            font-weight: 500;
            border-radius: 50px;
            outline: none;
            border: none;
            border: 5px;
            right: 80px;
            bottom: 60px;
            position: absolute;
        }
    }
}