.ExtendedCard {
    // width: 0;
    // height: 0;

    .Blue {
        color: rgb(69, 69, 208);
    }
    
    .Yellow {
        color: rgb(148, 148, 71);
    }

    .Teal {
        color: #387285;
    }

    // .BackgroundContainer {
    //     background-color: rgba(0, 0, 0, 0.5);
    //     height: auto;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    
    //     width: 100%;
    
    //     display: flex;
    //     justify-content: center;
    // }

    .LocalCardContainer {
        margin-top: 3em;
        margin-bottom: 3em;
        border-radius: 20px;
        height: auto;
        position: relative;
        width: 800px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .LocalCardContainer .ImageContainer {
        position: relative;
        margin: 25px 25px 10px 25px;
        height: 300px;
        width: 750px;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .LocalCardContainer .Image {
        position: absolute;
        left: 0;
        top: -20%;
        max-width: 100%;
        object-fit: scale-down;
    }
    
    .LocalCardContainer .TitleContainer {
        padding-top:10px;
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 5px;
        width: calc(100% - 30px);
        height: 60px;
        border-bottom: 1px solid rgb(180, 180, 180);
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .LocalCardContainer .TitleContainer .LeftContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .LocalCardContainer .TitleContainer .LeftContainer .ProfileContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .LocalCardContainer .TitleContainer .LeftContainer .ProfileContainer .ProfilePictureContainer {
        border-radius: 20px;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        overflow: hidden;
    }
    
    .LocalCardContainer .TitleContainer .LeftContainer .ProfileContainer .ProfilePictureContainer .ProfilePicture {
        max-width: 100%;
    }
    
    .LocalCardContainer .TitleContainer .LeftContainer .ProfileContainer .ProfileName {
        color: gray;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
    }
    
    .LocalCardContainer .TitleContainer .LeftContainer .Title {
        font-weight: bold;
        font-size: 22px;
    }
    
    .LocalCardContainer .TitleContainer .RightContainer {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .LocalCardContainer .TitleContainer .RightContainer .StarContainer {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .LocalCardContainer .TitleContainer .RightContainer .StarContainer .Star {
        margin-left: 5px;
        height: 80%;
    }
    
    .LocalCardContainer .TitleContainer .RightContainer .TimeContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
    .LocalCardContainer .TitleContainer .RightContainer .TimeContainer .Clock {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .LocalCardContainer .TitleContainer .RightContainer .TimeContainer .Time {
        color: rgb(92, 92, 92);
        font-weight: 500;
        font-size: 20px;
        line-height: 17px;
    }
    
    .LocalCardContainer .ContentContainer {
        padding: 15px;
        width: calc(100% - 30px);
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .LocalCardContainer .ContentContainer .InteractableContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .LocalCardContainer .ContentContainer .InteractableContainer .TagContainer {
        display: flex;
        flex-direction: row;
    }
    
    .LocalCardContainer .ContentContainer .InteractableContainer .TagContainer .Tag {
        border-radius: 5px;
        border: 2px solid;
        margin-right: 10px;
        font-size: 12px;
        padding: 3px 7px 3px 7px;
    }
    
    .LocalCardContainer .ContentContainer .InteractableContainer .ShareContainer {
        display: flex;
        flex-direction: row;
    }
    
    .LocalCardContainer .ContentContainer .InteractableContainer .ShareContainer img {
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }
    
    .LocalCardContainer .ContentContainer .InfoContainer {
        width: calc(100% - 40px);
        height: auto;
        padding: 20px 20px 30px 20px;
    
        display:grid;
        grid-template-columns: auto auto;
        font-size: 20px;
        font-weight: bold;
        column-gap: 50px;
        border-bottom: 1px solid rgb(180, 180, 180);
    
    }
    
    .LocalCardContainer .ContentContainer .InfoContainer .DescriptionContainer {
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .LocalCardContainer .ContentContainer .InstructionsContainer {
        height: auto;
        padding: 20px 20px 20px 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .LocalCardContainer .ContentContainer .InstructionsContainer .Step {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 30px;
    }
}