@import "~bootstrap/scss/bootstrap";

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-content {
  background-color: transparent;
  border: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
