@mixin no-select {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

@mixin animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}